<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 设置为UserDao接口方法提供sql语句配置 -->
<mapper namespace="com.bupt.dao.UserDao">

    <select id="login" resultType="User" parameterType="String">
        SELECT id,password FROM user WHERE username = #{username}
    </select>
    <select id="selectuser" resultType="User" parameterType="String">
        SELECT * FROM user WHERE username = #{username}
    </select>

    <insert id="regis"  parameterType="com.bupt.model.User">
        INSERT INTO  user (username,password) values(#{username},#{password})
    </insert>
</mapper>